@model MvcOkul.Models.Entity.TblKulupler
@{
    ViewBag.Title = "Listele";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Güncelle", "Kulupler", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(x => x.KulupAd)
        @Html.TextBoxFor(x => x.KulupAd, new { @class="form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.KulupKontenjan)
        @Html.TextBoxFor(x => x.KulupKontenjan, new { @class = "form-control" })
    </div>
    @Html.HiddenFor(x => x.KulupId)
    <div style="margin-top:15px">
        <button class="btn btn-primary">Güncelle</button>
        <button style="margin-left:10px" class="btn btn-warning">Vazgeç</button>
    </div>
}

